*{margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}

html{
  font-size: 14px;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  color:#555;
}

/*layout*/
aside{
  width:20%;
  height: 100%;
}

main{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* aside */
aside > .songLi-title{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to top,#04031d,#1c194c);
  color:white;
  text-shadow: 2px 0px 5px rgba(255,255,255,0.6);
  box-shadow: 5px 0px 10px -1px rgba(198, 177, 240,.75);
}

aside >  ul.songLi{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  overflow: auto;
  background: linear-gradient(to top,#04031d,#1c194c);
  box-shadow: 5px 4px 10px -1px rgba(198, 177, 240,.75);
}
aside >  ul.songLi::-webkit-scrollbar { width: 0 !important }
aside >  ul.songLi > li{
  flex:0 0 3rem;
  padding: 2rem 1.2rem;
  margin:1px 0;
  background: #4925bf2a;
  border-radius: 0.3rem;
  /*background: linear-gradient(to top,#1c179e 5%,#4925bf 10%,#4925bf 97%,#c6b1f0 99%);*/
  display: flex;
  align-items: center;
  color:white;

}

/* inside <main> -- Drag file area*/
main > .addDrop.active{
  width:80%;
  height:80%;
  border: 2px dashed #c6b1f0 ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#c6b1f0;
}

main > .addDrop.active > span{
  text-align: center;
  font-size: 1.5rem;
  color:#c6b1f0;
}

main > .addDrop.active > div#button{
  text-align: center;
  margin:10px;
  padding: 10px;
  background: #4925bf;
  /*background: linear-gradient(to right, #C6FFDD,#FBD786,#f7797d);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);*/
  color:white;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
}

main > .addDrop.active > div#button:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

main > .addDrop.active > span#progressText{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  height: 1.5rem;
  color:#4925bf;
}

main > .addDrop.active > span.instructions{
  font-size: 1rem;
}

/* inside <main> -- Song details area*/
main > .songDetail{
  width:80%;
  height:80%;
  border: 2px dashed #c6b1f0 ;
  border-radius: 10px;
  display:none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#c6b1f0;
}

main > .songDetail > .form{
  width: 100%;
  text-align: center;
}

main > .songDetail > .form > .status{
  height: 1.5rem;
  font-size: 1.2rem;
  color: #4925bf;
  margin-bottom: 1rem;
}

main > .songDetail > .form > .formRow{
  margin: 0.2rem 0;
  width: 100%;
}

main > .songDetail > .form > .formRow > label{
  display: inline-block;
  width:10%;
  text-align: center;
  color:#4925bf;
}

main > .songDetail > .form > input[type=submit]{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin-top: 0.5rem;
}

main > .songDetail > .form > input[type=submit]:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

main > .songDetail > .form > button#cancel{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

main > .songDetail > .form > button#cancel:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}