*{margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}

html{
  font-size: 14px;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*layout*/
aside{
  width:20%;
  height: 100%;
}

main{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* aside */
.playlist-title{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to top,#04031d,#1c194c);
  color:white;
  text-shadow: 2px 0px 5px rgba(255,255,255,0.6);
  box-shadow: 5px 0px 10px -1px rgba(198, 177, 240,.75);
}

.playlist{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  overflow: auto;
  background: linear-gradient(to top,#04031d,#1c194c);
  box-shadow: 5px 4px 10px -1px rgba(198, 177, 240,.75);
}

.playlistTitle, .playlistIntro{
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.playlist::-webkit-scrollbar { width: 0 !important }
.playlist > li{
  flex:0 0 3rem;
  padding: 2rem 1.2rem;
  margin:1px 0;
  background: #4925bf2a;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  color:white;
  cursor: pointer;
}

.playlist > li:hover{
  background: linear-gradient(to top,#4925bf2a,#4925bf63);
}

/* Playlist Form*/

.form{
  width: 100%;
  text-align: center;
}

.status{
  height: 1.5rem;
  font-size: 1.2rem;
  color: #4925bf;
  margin-bottom: 1rem;
}

.formRow{
  margin: 0.2rem 0;
  width: 100%;
}

label{
  display: inline-block;
  width:10%;
  text-align: center;
  color:#4925bf;
}

.formRow.intro + .formRow.chooseSong{
  position: relative;
}

label[for=intro]{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 42%;
}

#chooseSong{
  width: 15rem;
}

label[for=chooseSong]{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 28%;
}

/* buttons style*/

input[type=submit]{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin-top: 0.5rem;
}

input[type=submit]:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

#cancel, .toAdmin-song{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

#cancel:hover, .toAdmin-song:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

.toAdmin-song-wrapper{
  align-self: flex-end;
  margin-right: 5%;
}