*{margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}

html{
  font-size: 14px;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*layout*/
aside{
  width:20%;
  height: 100%;
}

main{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* aside */
aside > .songLi-title{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to top,#04031d,#1c194c);
  color:white;
  text-shadow: 2px 0px 5px rgba(255,255,255,0.6);
  box-shadow: 5px 0px 10px -1px rgba(198, 177, 240,.75);
}

aside >  ul.songLi{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  overflow: auto;
  background: linear-gradient(to top,#04031d,#1c194c);
  box-shadow: 5px 4px 10px -1px rgba(198, 177, 240,.75);
}


aside >  ul.songLi::-webkit-scrollbar { width: 0 !important }
aside >  ul.songLi > li{
  flex:0 0 3rem;
  padding: 2rem 1.2rem;
  margin:1px 0;
  background: #4925bf2a;
  border-radius: 0.3rem;
  /*background: linear-gradient(to top,#1c179e 5%,#4925bf 10%,#4925bf 97%,#c6b1f0 99%);*/
  display: flex;
  align-items: center;
  color:white;
  cursor: pointer;
}

aside >  ul.songLi > li:hover{
  background: linear-gradient(to top,#4925bf2a,#4925bf63);
}

/* pop-up song info table*/
aside >  ul.songLi > div.songLi-info{
  background: linear-gradient(to top,#c6b1f049 99%,#c6b1f01e);
  color:#fff;
}


aside >  ul.songLi > div.songLi-info > table {
  display: table;
  height: 8rem;
  margin:2.3rem 1rem 0 1rem;
  table-layout: fixed;
  font-size: 0.8rem;
  border-collapse: collapse;
}

aside >  ul.songLi > div.songLi-info > table > tbody > tr:hover{
  background: linear-gradient(to top,#c6b1f01f,#c6b1f044);
  border-radius: 2rem;
}

aside >  ul.songLi > div.songLi-info > table > tbody > tr >td:first-child{
  width:2rem;
}

aside >  ul.songLi > div.songLi-info > table > tbody > tr >td:last-child{
  word-wrap: wrap;
  word-break: break-all;
}

aside >  ul.songLi > div.songLi-info > div.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

aside >  ul.songLi > div.songLi-info > div.buttons > button{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin: 1rem 0;
}

aside >  ul.songLi > div.songLi-info > div.buttons > button:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

aside >  ul.songLi > div.songLi-info > div.buttons > button:last-child{
  margin-left: 1rem;
}

/* inside <main> -- Drag file area*/
main > .addDrop.active{
  width:80%;
  height:80%;
  border: 2px dashed #c6b1f0 ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#c6b1f0;
}

main > .addDrop.active > span{
  text-align: center;
  font-size: 1.5rem;
  color:#c6b1f0;
}

main > .addDrop.active > div#button{
  text-align: center;
  margin:10px;
  padding: 10px;
  background: #4925bf;
  /*background: linear-gradient(to right, #C6FFDD,#FBD786,#f7797d);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);*/
  color:white;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
}

main > .addDrop.active > div#button:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

main > .addDrop.active > span#progressText{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  height: 1.5rem;
  color:#4925bf;
}

main > .addDrop.active > span.instructions{
  font-size: 1rem;
}

/* inside <main> -- Song details area*/
main > .songDetail{
  width:80%;
  height:80%;
  border: 2px dashed #c6b1f0 ;
  border-radius: 10px;
  display:none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#c6b1f0;
}

main > .songDetail > .form{
  width: 100%;
  text-align: center;
}

main > .songDetail > .form > .status{
  height: 1.5rem;
  font-size: 1.2rem;
  color: #4925bf;
  margin-bottom: 1rem;
}

main > .songDetail > .form > .formRow{
  margin: 0.2rem 0;
  width: 100%;
}

main > .songDetail > .form > .formRow > label{
  display: inline-block;
  width:10%;
  text-align: center;
  color:#4925bf;
}

main > .songDetail > .form > input[type=submit]{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin-top: 0.5rem;
}

main > .songDetail > .form > input[type=submit]:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

main > .songDetail > .form > button#cancel{
  padding: 0.2rem;
  background: #4925bf;
  border:none;
  color: white;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

main > .songDetail > .form > button#cancel:hover{
  background: linear-gradient(to right,#04031d,#1c194c,#1c179e);
  box-shadow: 2px 0px 5px -1px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

/* deletion notification */
div.notify{
  position: absolute;
  width:15rem;
  height:5rem;
  top:3rem;
  left:50%;
  transform: translateX(-7.5rem);
  background: linear-gradient(45deg,#04031d,#1c194c 75%,#1c179e);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.7);
}

div.notify > p{
  margin:0 1rem;
  color:#fff;
  letter-spacing: 0.5rem;
  text-shadow: 2px 0px 10px rgba(11,11,11,0.6);
  text-align: center;
}

/* upload loading */
div.loading-wrapper{
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: #c6b1f044;
}

div.loading-wrapper > div.loading{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-10rem);
  width: 15rem;
  height: 5rem;
  text-align: center;
}

div.loading-wrapper > div.loading > span{
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin: 1rem 0.6rem;
  background: linear-gradient(135deg,#04031d,#1c194c 60%,#1c179e);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.7);
  border-radius: 50%;
  animation: loader 0.9s infinite alternate-reverse;
  animation-timing-function: linear;
}

div.loading-wrapper > div.loading > span:nth-of-type(2){
  animation-delay: 0.3s;
}

div.loading-wrapper > div.loading > span:nth-of-type(3){
  animation-delay: 0.6s;
}

@keyframes loader{
  0%{
    width:1rem;
    height: 1rem;
    opacity: 0.9;
    transform: translateY(0);
  }
  100%{
    width:2rem;
    height:2rem;
    opacity: 0.1;
    transform: translateY(-0.9rem);
  }
}