/* reset */
*{padding: 0;margin: 0;box-sizing: border-box;color: #fff;}
ul,ol{list-style: none;}
a{text-decoration: none;}
h2,h4,h6{font-weight: normal;}
h2{font-size: 1.3rem;}
h4{font-size: 1rem;}

html{font-size: 14px;}
body{
  width:100vw;
  background: linear-gradient(to top,#04031d,#1c194c) no-repeat;
  height: 100vh;
  overflow: hidden;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

/* icon setup */
.icon {
  vertical-align: -0.15em;
  overflow: hidden;
}

/* import fonts */
@font-face{
  font-family: 'Monad-Heading';
  src:url("../fonts/Monad.otf") format('opentype');
}

/* whole page setup */
.playing{
  height: 100%;
  width: 100%;
}

/* SECTION 1 - rotating cover img */
.rotateImg{
  width:100%;
  position: relative;
  height: 60%;
}

.pointer{
  position: absolute;
  left:45%;
  width:28%;
  z-index: 2;
}

.cover-wrapper{
  width:80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: auto;
}

.disc-wrapper{
  margin-top: 12vh;
  position: relative;
  width: 100vw;
  transform-origin: 50% 47%;
}

.cover{
  position: absolute;
  border-radius: 50%;
  width: 80%;
  padding-top: 80%;
  overflow: hidden;
  left: 10%;
  top: 8%;
  transform-origin:center;
}

.cover.active{
  animation: rotating1 3s infinite linear;
}

@keyframes rotating1{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.cover::before{
  position: absolute;
  content:'';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:20%;
  height:20%;
  border:3vw solid #c6b1f0;
  background:linear-gradient(to top,#04031d,#1c194c) no-repeat;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.65);
  border-radius: 50%;
  z-index: 1;
}


.disc{
  position: absolute;
  width: 100%;
}

.disc.active{
  animation: rotating 3s infinite linear;
}

@keyframes rotating{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

.discLight{
  position: absolute;
  width: 100%;
}

/* SECTION 2 - progress bar embedded in .disc-wrapper */
.progress{
  width:100%;
  padding-top: 100%;
  position: absolute;
}

.progress-wrapper{
  height: 0.4rem;
  width: 100%;
  background: #c6b1f0;
  position: absolute;
  top:110%;
  border-radius: 5px;
  cursor: pointer;

}

.progress-wrapper::before{
  content:attr(data-start); 
  position: absolute;
  color:#c6b1f0;
  top:200%;
  left:-5%;
}

.progress-wrapper::after{
  content: attr(data-end);
  position: absolute;
  color:#c6b1f0;
  top:200%;
  right:-5%;
}

.bar{
  position: absolute;
  height: 100%;
  background: linear-gradient(to right,#5a2965,#a4346e);
  border-radius: 10px;
  cursor: pointer;
}

.bar::before{
  content: '';
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  background: #fff;
  border-radius: 50%;
  top: -51%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.65);
  left: 95%;
  cursor: pointer;
}

/* SECTION 3 - song info */

.title-wrapper{
  position: absolute;
  top:115%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.title-wrapper> svg{
  display: none;
  fill: #fff;
  width:20%;
  height: 2rem;
  z-index: 1;
}

.title-wrapper >  svg#pause.onplay{
  display: inline-block;
}

.title-wrapper > svg#play.onplay{
  display: inline-block;
}

.title-wrapper > h4{
  margin-top: 0.3rem;
  color:#c6b1f0;
}

/* SECTION 4 - lyrics*/
.lyrics{
  border:1px solid gold;
  width:100%;
  position: absolute;
  bottom: 0;
}

/* controls test */
audio{
  position: absolute;
  bottom: 0;
}

#test{
  height:13%;
  width:100%;
  position: absolute;
  bottom: 0;
}