/* reset */
*{padding: 0;margin: 0;box-sizing: border-box;color: #fff;}
ul,ol{list-style: none;}
a{text-decoration: none;}
h2,h4,h6{font-weight: normal;}
h2{font-size: 1.3rem;}
h4{font-size: 1rem;}

html{font-size: 14px;}
body{
  width:100vw;
  background: linear-gradient(to top,#04031d,#1c194c) no-repeat;
  min-height: 100vh;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

/* icon setup */
.icon {
  vertical-align: -2em;
  overflow: hidden;
}

/* import fonts */
@font-face{
  font-family: 'Monad-Heading';
  src:url("../fonts/Monad.otf") format('opentype');
}

/* Logo and Download */
.background-wrapper{
  background:#1c194c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-wrapper{
  height: 4.6rem;
  background: linear-gradient(to right,#4925bf5b,#4925bf8f);
  width: 100%;
}

.logo{
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo > svg{
  fill:#fff;
  width: 2rem; height: 2rem;
  margin: auto 0.5rem auto 1rem;
}

.logo > h1{
  font-family: 'Monad-Heading';
}

button.downloadApp{
  float: right;
  width: 26%;
  outline: none;
  background: none;
  color: #c6b1f0;
  border: 1px solid rgb(198, 177, 240);
  border-radius: 1rem;
  padding: 0.5rem;
  margin:1.2rem 4% 1.2rem 0;
}

button.downloadApp:focus{
  box-shadow: inset 1px 1px 5px 2px rgba(28,25,76,0.8);
  border-color: #c6b1f096;
}

/* Navigation */
nav{
  height: 3rem;
  width: 100%;
  /*background: linear-gradient(to bottom,#c6b1f073,#c6b1f052);*/
  border-bottom:1px solid rgba(198,177,240,0.5);
}

nav>ul{
  display: flex;
  height: 100%;
  width: 100%;
}

nav>ul>li{
  width:33.333%;
  height: 100%;
  line-height: 3rem;
  text-align: center;
  color:#c6b1f0;
  z-index: 2;
}

nav>ul>li.active{
  border-bottom: 2px solid #fff;
  color:#fff;
}

/* page1 - Recommendation PlayList */
section.page1{
  display: none;
  padding-top: 1.5rem;
}

section.page1.displayed{
  display: block;
}

/* headings */
h2.recom{
  padding-left: 0.9rem;
  padding-bottom: 1rem;
  position: relative;
  color:#c6b1f0;
}

h2.recom::before{
  content:'';
  position: absolute;
  height: 50%;
  top: 9%;
  left: 2px;
  border-left: 1px solid #fff;
}

/* PlayList with img */
.recom-playList > ul{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.recom-playList > ul:last-of-type{
  margin-bottom: 1rem;
}

.recom-playList > ul > li {
  width:32.5%;
}

.recom-playList > ul > li > img{
  width:100%;
  height: 75%;
  object-fit: cover;
}

.ul1 h4, .ul2 h4{
  padding-left: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* New Song List */
.newSong > ul{
  width:100%;
}

.newSong > ul >li{
  padding:0.5rem;
  width:100%;
  height: 4rem;
  position: relative;
}

.newSong > ul >li::after{
  content: "";
  position: absolute;
  width:95%;
  border-bottom:1px solid rgba(198,177,240,0.25);
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.newSong > ul >li > a{
  width:100%;
  height: auto;
  display: flex;
}

.song-wrapper{
  width:85%;
}

.play{
  width:15%;
  text-align: center;
}

.play > svg.icon{
  width:2.5rem;
  height: 2.5rem;
}

.song-wrapper > h4{
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.song-wrapper > h6{
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.song-wrapper > h6.active::before{
  content:attr(isHQ); /* data- attribute */
  font-size: 0.6rem;
  display: inline-block;
  color:#c6b1f0;
  border:1px solid #c6b1f0;
  border-radius: 2px;
  padding: 1px 2px;
  margin-right: 2px;
}

/* page2 - Popular song list */
section.page2{
  display: none;
}

section.page2.displayed{
  display: block;
}

.popSong-wrapper{
  height: 12rem;
  width:100%;
  background:linear-gradient(217deg, #c6b1f08f 30%, #a4346e77 70%),
            linear-gradient(127deg, #5a2965 58%,#1c179e 70%),
            linear-gradient(336deg, #1c194c85 20%,#4925bf73 70%);
  box-shadow: 0 0px 20px 0px rgba(0,0,0,0.55);
}

.popSongTitle{
  padding-top: 16%;
  margin-left: 10%;
  font-size: 2rem;
  letter-spacing: 1rem;
}

.updateTime{
  margin-top: 2%;
  margin-left: 10%;
}

.popSongList >li{
  padding:0.5rem;
  width:100%;
  height: 4rem;
  position: relative;
}

.popSongList >li::after{
  content: "";
  position: absolute;
  width:95%;
  border-bottom:1px solid rgba(198,177,240,0.25);
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.popSongList > li >a{
  width:100%;
  height: auto;
  display: flex;
}

.popSongList > li >a> h1{
  display: inline-block;
  width:15%;
  padding-left: 1rem;
  padding-top: 2%;
}

.popSongList> li> a> .song-wrapper{
  width:70%;
}

/* page3 - Search */
section.page3{
  display: none;
}

section.page3.displayed{
  display: block;
}

.bar-wrapper{
  width:100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search{
  width: 100%;
  text-align: center;
}

#searchBar{
  resize: none;
  height: 2rem;
  width: 80%;
  line-height: 1.7rem;
  font-size: 1rem;
  color:#04031d;
  vertical-align: text-bottom;
  padding-left: 0.5rem;
}

.results-wrapper{
  display: block;
  width:100%;
}

.resultPara{
  width: 100%;
  margin:0 1rem 0.8rem 1rem;
  position: relative;
}

.resultPara::before{
  content: "";
  position: absolute;
  width:95%;
  border-bottom:1px solid rgba(255,255,255,0.7);
  top: 1.8rem;
  left: 46%;
  transform: translateX(-50%);
}

/* results - song items */
.results > li{
  margin:1.6rem 1rem;
  padding:0.5rem;
  width:calc(100%-1rem);
  height: 4rem;
  background: linear-gradient(137deg,#c6b1f054 50%,#a4346e77 70%),
              linear-gradient(217deg,#5a29659a 58%,#1c179e93 70%);
  border-radius: 1rem;
  position: relative;
}

.results > li > a{
  width:100%;
  height: auto;
  display: flex;
}

.p3-song-wrapper{
  width:85%;
  padding-left: 0.8rem;
}

.play{
  width:15%;
  text-align: center;
}

.p3-play > svg.icon{
  width:2.5rem;
  height: 2.5rem;
  vertical-align: top;
}

.p3-song-wrapper > h4{
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p3-song-wrapper > h6{
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}