/* reset */
*{padding: 0;margin: 0;box-sizing: border-box;color: #fff;}
ul,ol{list-style: none;}
a{text-decoration: none;}
h2,h4,h6{font-weight: normal;}
h2{font-size: 1.3rem;}
h4{font-size: 1rem;}

html{font-size: 14px;}
body{
  width:100vw;
  background: linear-gradient(to top,#04031d,#1c194c) no-repeat;
  min-height: 100vh;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

/* icon setup */
.icon {
  vertical-align: -0.15em;
  overflow: hidden;
}

/* import fonts */
@font-face{
  font-family: 'Monad-Heading';
  src:url("../fonts/Monad.otf") format('opentype');
}

/* Logo and Download */
.background-wrapper{
  background:#1c194c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-wrapper{
  height: 4.6rem;
  background: linear-gradient(to right,#4925bf5b,#4925bf8f);
  width: 100%;
}

.logo{
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo > svg{
  fill:#fff;
  width: 2rem; height: 2rem;
  margin: auto 0.5rem auto 1rem;
}

.logo > h1{
  font-family: 'Monad-Heading';
}

button.downloadApp{
  float: right;
  width: 26%;
  outline: none;
  background: none;
  color: #c6b1f0;
  border: 1px solid rgb(198, 177, 240);
  border-radius: 1rem;
  padding: 0.5rem;
  margin:1.2rem 4% 1.2rem 0;
}

button.downloadApp:focus{
  box-shadow: inset 1px 1px 5px 2px rgba(28,25,76,0.8);
  border-color: #c6b1f096;
}

/* Navigation */
nav{
  height: 3rem;
  width: 100%;
  /*background: linear-gradient(to bottom,#c6b1f073,#c6b1f052);*/
  border-bottom:1px solid rgba(198,177,240,0.5);
}

nav>ul{
  display: flex;
  height: 100%;
  width: 100%;
}

nav>ul>li{
  width:33.333%;
  height: 100%;
  line-height: 3rem;
  text-align: center;
  color:#c6b1f0;
  z-index: 2;
}

nav>ul>li.active{
  border-bottom: 2px solid #fff;
  color:#fff;
}

/* page1 - Recommendation PlayList */
section.page1{
  display: none;
  padding-top: 1.5rem;
}

section.page1.displayed{
  display: block;
}

/* headings */
h2.recom{
  padding-left: 0.9rem;
  padding-bottom: 1rem;
  position: relative;
  color:#c6b1f0;
}

h2.recom::before{
  content:'';
  position: absolute;
  height: 50%;
  top: 9%;
  left: 2px;
  border-left: 1px solid #fff;
}

/* PlayList with img */
.recom-playList > ul{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.recom-playList > ul > li {
  width:32.5%;
}

.recom-playList > ul > li > img{
  width:100%;
}

.recom-playList > ul > li > h4{
  padding-left: 0.5rem;
}

/* New Song List */
.newSong > ul{
  width:100%;
}

.newSong > ul >li{
  padding:0.5rem;
  display: flex;
  width:100%;
  height: 4rem;

  position: relative;
}

.newSong > ul >li::after{
  content: "";
  position: absolute;
  width:95%;
  border-bottom:1px solid rgba(198,177,240,0.25);
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.song-wrapper{
  width:90%;
}

.play{
  width:10%;
}

.play > svg.icon{
  width:2.5rem;
  height: 2.5rem;
}

.song-wrapper > h4{
  font-size: 1.2rem;
}

.song-wrapper > h6{
  font-size: 0.8rem;
}

.song-wrapper > h6::before{
  content:''; /* data- attribute */
  display: inline-block;
}

/* page2 - Popular song list */
section.page2{
  display: none;
}

section.page2.displayed{
  display: block;
}

/* page3 - Search */
section.page3{
  display: none;
}

section.page3.displayed{
  display: block;
}